<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < categories.length; i++){ %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= categories[i].name %></td>
            <td>
                <form action="">
                    <a href="/category/edit/<%= categories[i]._id %>" class="btn btn-warning">
                        <i class="fas fa-pencil-alt mr-2"></i>
                        Edit
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash mr-2"></i>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
